# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     phpfreaks_prod
    database_user:     phpfreaks
    database_password: phpfreaks
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    phpcr_backend:
        type:          doctrinedbal
        connection:    default
        caches:
            meta:      doctrine_cache.providers.phpcr_meta
            nodes:     doctrine_cache.providers.phpcr_nodes
    phpcr_workspace:   default
    phpcr_user:        admin
    phpcr_password:    admin

    ipb_oauth:
        type:              oauth2
        client_id:         client_id
        client_secret:     client_secret
        request_token_url: http://domain/oauth/v2/request
        access_token_url:  http://domain/oauth/v2/access
        authorization_url: http://domain/oauth/v2/authorize
        infos_url:         http://domain/api/user
        paths:
            identifier: id
            nickname: username
            realname: fullname

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    secret:            cd1504720ab678f03a6359984154e639153297db
