{% extends '::base.html.twig' %}

{% block title %}New article{% endblock %}

{% block body %}
<article>
    <header>
        <h2>Article creation</h2>
    </header>

    <form action="{{ path('article_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('article_list') }}">
                Back to the list
            </a>
        </li>
    </ul>
</article>
{% endblock %}